@import './params.scss';

.content{
    width: $sysContentWidthMiddle;
    margin:  0 auto;
    height: 10.55rem;
    .btn-box{
        width:$sysContentWidthMiddle ;
        display: flex;
        position: fixed;
        z-index: 1;
        bottom: 3rem;
        justify-content: space-around;
        .btn-exam{
            width: 2.6rem;
            height: 0.7rem;
            background-color: #726fff;
            border-radius: 0.35rem;
        }
    }
}
.exam-footer{
    .exam-footer-top{
        border-top: 0.02rem solid #d3d3d3;

        &.open {
            border-top: 0.02rem solid transparent;
            border-bottom: 0.02rem solid #d3d3d3;
        }
    }
    .exam-footer-bot{
        display: none;
    }
}